//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
template(name="breadcrumbAddPlacement")
  li(class="crumb") Placements
  li(class="crumb active") Placement offer
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
template(name="contentIndicationsAddPlacement")
  | To add a new placement please fill the form below.
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////  
template(name="contentAddPlacements")
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  +contentFor("floatingButtons")
    if isInRole "tutor"
      button(class="floating-button" type="button" name="quickAddEducator" title="Add an educator...")
        i( class="fa fa-user" aria-hidden="true")
        i(class="fa fa-plus" aria-hidden="true")  
      button(class="floating-button" type="button" name="quickAddTheme" title="Add a theme...")
        i( class="fa fa-tag" aria-hidden="true")
        i(class="fa fa-plus fa-small" aria-hidden="true")
      button(class="floating-button" type="button" name="quickAddThemetypes" title="Add a themetype...")
        i( class="fa fa-tags" aria-hidden="true")
        i(class="fa fa-plus fa-small" aria-hidden="true")   
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  +contentFor("sidebar")
    if isInRole "tutor"
      if quickAddEducator
        h2 Add a new educator
        form(id="quickAddEducator" name="sidebarForm")
          {{> inputPersonalData }}
          {{> inputEmail }}
          {{> inputPhone }}
          div(class="column")
            {{> hostList }}
          div(class="row")
            unless adding
              button(type="submit")
                i(class="fa fa-user-plus" aria-hidden='true')
                | Add a new educator
            else
              div(class="column center")
                p
                  i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
                  | We're adding this new educator, please wait...
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      if quickAddTheme
        h2 Add a new theme
        form(id="quickAddTheme" name="sidebarForm")
          {{> themeInputs }}
          div(class="row")
            unless adding  
              button(type="submit")
                i(class="fa fa-plus" aria-hidden='true')
                | Add a new theme
            else
              div(class="column center")
                p
                  i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
                  | We're adding this new theme, please wait...
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      if quickAddThemetypes
        h2 Add a new themetype
        form(id="quickAddThemetypes" name="sidebarForm")
          {{> themetypeInputs }}
          div(class="row")
            unless adding  
              button(type="submit")
                i(class="fa fa-plus" aria-hidden='true')
                | Add a new themetype
            else
              div(class="column center")
                p
                  i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
                  | We're adding this new themetype, please wait...
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      if selectStudent
        {{> yield "sidebar_selectStudent"}}
      //////////////////////////////////////////////////////////////////////////////////////////////////////////
      if selectOffer
        {{> yield "sidebar_selectOffer"}}
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  +contentFor("sidebar_selectStudent")
    form(class="form_search-quick" name="sidebarForm")
      h2 Select a student   
      h4 Search
      div(class="_input")
        {{> EasySearch.Input index=studentsIndex attributes=inputAttributes }}
      +EasySearch.IfInputEmpty index=studentsIndex
        div(class="_input-example") 
          p You can browse students by their first name, last name, e-mail address and phone number
      else
        if resultsCountStudents
          div(class="padded count-results") {{resultsCountStudents}} results found.
      div(class="row")
        h4 Filter by
      div(class="row row_subfilter")
        {{> cohortFilter }}
        {{> programmeFilter }}
      +EasySearch.IfSearching index=studentsIndex
        p Searching...
      div(class="row")
        div(class='column')
          h4 Results: {{resultsCountStudents}} 
        div(class="column")
          p Select a student in the list below. 
      ul(class="list_result")
        li(class="list_result-item list_result-header")
          div(class="result")
            div(class="row row_main")
              span(class="column")
                b Name 
              span(class="column") 
                b Cohort 
              span(class="column")
                b Programme 
        +EasySearch.Each index=studentsIndex
          li(class="list_result-item")
            div(class="result")
              div(class="row row_main")
                span(class="column") {{ profile.firstName }} {{ profile.lastName }}
                span(class="column") {{ studentCohort }}
                span(class="column") {{ studentProgramme }}
              div(class="row row_aside")
                div(class="column")
                  span
                    label(for="{{_id}}")
                      i(class="fa fa-hand-pointer-o" aria-hidden="true")
                      | Select  this student
                      input(type="radio" class="selectStudent" name="studentRadioButton" title="select this student" id='{{_id}}' value='{{_id}}') 
      {{ > EasySearch.LoadMore index=studentsIndex attributes=buttonAttributes }}
      +EasySearch.IfNoResults index=studentsIndex
        p There are no students corresponding to these criteria. 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  +contentFor("sidebar_selectOffer")
    form(class="form_search-quick" name="sidebarForm")
      h2 Select an existing placement offer
      h4 Search
      div(class="_input")
        {{> EasySearch.Input index=offersIndex attributes=inputAttributes }}
      +EasySearch.IfInputEmpty index=offersIndex
        div(class="_input-example") 
          p You can browse offers by their reference.
      else
        if resultsCountOffers
          div(class="padded count-results") {{resultsCountOffers}} results found.
      div(class="row")
        h4 Filter by
      div(class="row row_subfilter")
        {{> hostFilter }}
        {{> themeFilter }}
        {{> accommodationFilter }}
        {{> carFilter }}
      +EasySearch.IfSearching index=offersIndex
        p Searching...
      div(class="row")
        div(class='column')
          h4 Results: {{resultsCountOffers}} 
        div(class="column")
          p Select a placement offer in the list below. 
      ul(class="list_result")
        li(class="list_result-item list_result-header")
          div(class="result")
            div(class="row row_main")
              span(class="column")
                b Reference 
              span(class="column") 
                b Host organization
              span(class="column")
                b Theme
              span(class="column")
                b Themetypes
              span(class="column")
                b Date of start
              span(class="column")
                b Date of end
        +EasySearch.Each index=offersIndex
          li(class="list_result-item")
            div(class="result")
              div(class="row row_main")
                span(class="column") {{ _id }}
                span(class="column") {{ offerHostOrganizationList }}
                span(class="column") {{ offerTheme }}
                span(class="column") {{ offerThemetypesList }}
                span(class="column") {{ startDate }}
                span(class="column") {{ endDate }}
              div(class="row row_aside")
                div(class="column")
                  span
                    label(for="{{_id}}")
                      i(class="fa fa-hand-pointer-o" aria-hidden="true")
                      | Select  this offer
                      input(type="radio" class="selectOffer" name="offerRadioButton" title="select this placement offer" id='{{_id}}' value='{{_id}}') 
      {{ > EasySearch.LoadMore index=offersIndex attributes=buttonAttributes }}
      +EasySearch.IfNoResults index=offersIndex
        p There are no placement offers corresponding to these criteria. 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  div(class="content_form")
    if isInRole "tutor"
      form(name="placementForm")
        div(class="inline-row")  
          fieldset(class="column placementFormStep")
            legend 
              h4 Student            
            if selectedStudent
              h5 Personal information
              div(class="row-inline")
                div(class="column")
                  label First name
                  span {{ student.profile.firstName }} 
                div(class="column")
                  label Last name
                  span {{ student.profile.lastName }}
              div(class="row-inline")
                div(class="column")
                  label Cohort
                  span {{ cohort }}
                div(class="column")
                  label Programme
                  span {{ programme }}
              span(class="separator")
              div(class="row-inline")
                h5 Contact 
                div(class="column")
                  label E-mail address 
                  span {{ studentEmail }}
                div(class="column")
                  label Phone number
                  span {{ student.profile.phone }}        
              button(type="button" name="selectStudent")
                i(class="fa fa-ellipsis-h" aria-hidden="true")
                | Select another student
            else
              button(type="button" name="selectStudent")
                i(class="fa fa-ellipsis-h" aria-hidden="true")
                | Select a student
          unless createPlacement       
            fieldset(class="column placementFormStep")
              legend
                h4 Placement offer        
              if selectedOffer
                h5 Placement offer information
                div(class="row-inline")
                  div(class="column")
                    label
                      i(class="fa fa-qrcode" aria-hidden="true")
                      | Reference
                    span {{ offer._id }}          
                  div(class="column")
                    label
                      i(class="fa fa-building-o" aria-hidden="true")
                      | Host organization
                    span
                      a(href="/app/establishments/{{ hostOrganizationId }}" title="See the establishment details") {{ hostOrganization }}
                div(class="row-inline")
                  div(class="column")
                    label
                      i(class="fa fa-tags" aria-hidden="true")
                      | Themetypes
                    span {{ themetypes }}
                span(class="separator")
                h5 Dates
                div(class="row")
                  div(class="column")
                    label
                      i(class="fa fa-flag-o " aria-hidden="true")
                      | Date of start
                    span {{ offer.startDate }}
                  div(class="column")
                    label
                      i(class="fa fa-flag-checkered " aria-hidden="true")
                      | Date of end
                    span {{ offer.endDate }}
                span(class="separator")
                h5 Provided
                div(class="row")
                  div(class="column")
                    label
                      i(class="fa fa-bed" aria-hidden="true")
                      | Accommodation
                    p {{ isAccommodationProvided }}
                  div(class="column")
                    label
                      i(class="fa fa-car" aria-hidden="true")
                      | Car
                    p {{ isCarProvided }}
                span(class="separator")
                h5 Other information
                div(class="row")
                  div(class="column")
                    label
                      i(class="fa fa-ellipsis-h" aria-hidden="true")
                      | Additional information
                    p {{ offer.additionalInformation }}
                button(type="button" name="selectOffer")
                  i(class="fa fa-ellipsis-h" aria-hidden="true")
                  | Select another placement offer
                div(class="separator center") 
                  span 
                    b OR
                div(class="separator")
                button(type="button" name="createPlacement")
                  i(class="fa fa-magic" aria-hidden="true")
                  | Create a new placement 
                  i ex-nihilo
              else
                button(type="button" name="selectOffer")
                  i(class="fa fa-ellipsis-h" aria-hidden="true")
                  | Select a placement offer
                div(class="separator center") 
                  span 
                    b OR
                div(class="separator")
                button(type="button" name="createPlacement")
                  i(class="fa fa-magic" aria-hidden="true")
                  | Create a new placement 
                  i ex-nihilo
          if createPlacement
            fieldset(class="column placementFormStep")
              legend
                h4 Create a new placement
              {{> hostList }}
              {{> themesList }}
              {{> themetypesCloud }}
              {{> inputDates }}
              {{> requiredCheckboxes }}
              {{> educatorsSelects }}
              {{> tutorsCloud }}
              {{> textareaAdditionalInformation }}
              button(type="button" name="selectOffer")
                i(class="fa fa-ellipsis-h" aria-hidden="true")
                | Cancel and select an existing placement offer
          if definedPlacement
            unless createPlacement
              fieldset(class="column placementFormStep")
                legend 
                  h4 Placement details
                {{> inputDates }}
                {{> requiredCheckboxes }}
                {{> educatorsSelects }}
                {{> tutorsCloud }}
                {{> textareaAdditionalInformation }}
        div(class="row")
          unless adding  
            if definedPlacement
              button(type="submit")
                i(class="fa fa-plus" aria-hidden='true')
                | Add a new placement
            else 
              p 
                i To create a new placement, select a student and a placement offer (or create a new one ex-nihilo)
          else
            div(class="column center")
              p
                i(class="fa fa-spinner fa-spin fa-2x" aria-hidden="true")
                | We're adding this new placement, please wait...
